.container {
    position: relative;
    max-width: 700px;
    margin: 0 auto;
    padding-top: 2rem;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 150px;
    border: 3px solid var(--outline);
    border-radius: 20px;
    padding: 1rem 1.4rem 1rem 2rem;
}

.logo {
    height: 100%;
}

.score {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 10px;
    width: 150px;
    height: 100%;
}

.score__number {
    font-weight: 700;
    font-size: 4rem;
    color: var(--dark-text);
}

.score__title {
    font-size: 11px;
    letter-spacing: 0.1em;
    color: var(--score-text);
}

/* Game */
.game {
    position: relative;
    display: grid;
    grid-template-columns: (repeat(2, 1fr));
    grid-template-areas:
        "paper scissors"
        "rock rock";
    place-items: center;
    height: 30rem;
    padding-top: 4rem;
}

.game::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 28%;
    top: 35%;
    background: url("../assets/images/bg-triangle.svg") no-repeat;
    z-index: -1;
}

.choice-btn {
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
}

#paper-btn {
    grid-area: paper;
}

#scissors-btn {
    grid-area: scissors;
}

#rock-btn {
    grid-area: rock;
}

.choice {
    position: relative;
    width: 10rem;
    height: 10rem;
    background: #fff;
    border-radius: 50%;
    display: grid;
    place-items: center;
    box-shadow: inset 0 0.5rem var(--shadow-light);
}

.choice img {
    transform: scale(1.5);
}

.choice::before,
.choice::after {
    content: '';
    position: absolute;
    left: -15%;
    top: -15%;
    width: 130%;
    height: 130%;
    border-radius: 50%;
    z-index: -1;
}

.choice.paper::before {
    background: linear-gradient(to bottom, var(--paper-1), var(--paper-2));
    box-shadow: 0 0.5rem var(--shadow-med), 0 0.5rem var(--paper-2);
}

.choice.rock::before {
    background: linear-gradient(to bottom, var(--rock-1), var(--rock-2));
    box-shadow: 0 0.5rem var(--shadow-med), 0 0.5rem var(--rock-2);
}

.choice.scissors::before {
    background: linear-gradient(to bottom, var(--scissors-1), var(--scissors-2));
    box-shadow: 0 0.5rem var(--shadow-med), 0 0.5rem var(--scissors-2);
}

/* .choice::after {
    opacity: 0;
    transform: opacity 0.4s ease;
} */

.choice-btn:focus .choice::after {
    opacity: 1;
    box-shadow: 0 0 0 2rem #223351;
    z-index: -2;
}

.rules-btn {
    position: absolute;
    bottom: 2rem;
    right: 2rem;
    background: none;
    outline: none;
    border: 2px solid var(--outline);
    border-radius: 0.6rem;
    color: var(--light-text);
    padding: 0.6rem 2.5rem;
    font-family: inherit;
    text-transform: inherit;
    font-size: 1.3rem;
    letter-spacing: 0.1em;
    cursor: pointer;
}

.rules-btn:focus {
    border: 2px solid #fff;
}

.winner .choice::after {
    box-shadow: 0 0 0 40px #293251, 0 0 0 80px #232c4b, 0 0 0 130px #1e2949;
    animation: winner 1s ease forwards;
}

@keyframes winner {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}